<h1>Is it a skill of mine?</h1>

<% if @skill.id == 0 %>
  <%= "I don't have that skill." %>
<% else %>
  Yep I can do <%= @skill.name %>. It has id <%= @skill.id %> and
  currently the status is "<%= @skill.status %>."<br>
  <a href='/skills/<%= @skill.id %>/edit'>Edit this skill</a>
<% end %>



<form action="/skills/<%= @skill.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete this skill</button>
</form>
