
<% if @skill.id == 0 %>
  <%= "I don't have that skill." %>
  </div>
<% else %>
  <div class="divider"></div>
  <div class="section">
    <h1>Is it a skill of mine?</h1>
    <p>Yep I can do <%= @skill.name %>. It has id <%= @skill.id %> and currently the status is "<%= @skill.status %>."</p>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn col s4" href='/skills/<%= @skill.id %>/edit'><i class="material-icons right">input</i>Edit this Skill</a>
    <form action="/skills/<%= @skill.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn waves-effect waves-light col s4 offset-s1"><i class="material-icons right">delete</i>Delete this Skill</button>
    </form>
  </div>
<% end %>
